h1, h2, h3 {
  text-align: center;
}

body {
  background-color: #1b1f1a;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #d0d7d3;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  max-height: 100px;
  padding: 10px;
  background-color: #27597d;
  color: #d0d7d3;
  display: flex;
  justify-content: space-between;
}

.logos {
  display: flex;
  align-items: center;
}

.logo {
  height: 3em;
  margin: 0 0.25em;
}

header h1, header p {
  margin: 0;
}

header p {
  text-align: right;
}

/* Main Content */

.main-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.main-image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.main-image img {
  max-width: 100%;
}

.featured-work {
  margin: 10px 0;
}

/* Projects */

.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  max-width: 300px;
  background-color: #27597d;
  border: 1px solid #d0d7d3;
  padding: 6px;
  margin: 10px;
  border-radius: 11px;
}

.project-link {
  position: relative;
  color: #d0d7d3;
  text-decoration: none;
}

.project:hover .project-link {
  color: #27597d;
}

.project-name {
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.project:hover {
  background-color: #d0d7d3;
  box-shadow: 5px 5px 20px 0px rgba(39, 89, 125, 0.5);
}

@media (max-width: 470px) {
  .project {
    max-width: 150px;
  }
}

@media (max-width: 700px) {
  .project {
    max-width: 200px;
  }
}
