
h1, h2, h3 {
  text-align: center;
}

body {
  background-color: #1b1f1a;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  background-color: #d0d7d3;
  max-width: 1200px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

header {
  padding: 10px 5px;
  background-color: #27597d;
  color: #d0d7d3;
  display: flex;
  justify-content: space-between;
}

header .logo {
  max-height: 40px;
  margin-right: 5px;
}

header h1, header p {
  margin: 0;
}

/* Main Content */

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-image {
  display: flex;
  justify-content: center;
}

.featured-work {
  margin: 10px 0;
}

.projects {
  display: flex;
  justify-content: space-around;
}

/* Project */

.project {
  background-color: #27597d;
  border: 1px solid #d0d7d3;
  padding: 6px;
  border-radius: 11px;
}

.project:hover {
  background-color: #d0d7d3;
  box-shadow: 5px 5px 20px 0px rgba(39, 89, 125, 0.5);
}

.project-link {
  color: #d0d7d3;
  text-decoration: none;
}

.project:hover .project-link {
  color: #27597d;
}

.project-name {
  margin: 0;
  text-decoration: none;
  text-align: center;
}
